{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import", {
        "libraryName": "antd"
      }
    ],
    [
    	"module-resolver", {
	      "root": ["."],
	      "alias": {
	        "Components": "./Components",
	        "Templates": "./Templates",
	        "Styles": "./public/style"
	      }
	    }
    ]
  ]
}
