@import '../node_modules/rsuite/dist/rsuite.min.css';
@import '../node_modules/@tastiest-io/tastiest-ui/dist/styles.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SourceCodePro;
  src: url(/fonts/SourceCodePro.ttf) format('truetype');
}

a {
  @apply cursor-pointer hover:underline hover:text-secondary;

  &.no-underline {
    text-decoration: none !important;
  }
}

body {
  min-width: 350px;
}

body {
  @apply bg-white font-secondary font-normal;
  font-smooth: antialiased;

  ::selection {
    @apply bg-primary bg-opacity-25 text-light;
  }
}

.rs-picker-menu {
  z-index: 999999 !important;
}



.glass {
  backdrop-filter: blur(5px);
  @apply bg-gray-200 bg-opacity-25;
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide_scroll {
  -ms-overflow-style: none;
}

/* Allows for proper border rounding on Safari */
* {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
